<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monteiro.guessmovie">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AlertDialog.AppCompat.FullScreen">
        </activity>

        <activity
            android:name=".slider.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AlertDialog.AppCompat.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CategoriesActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
             >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity">
        </meta-data>
        </activity>

        <activity
        android:name=".Jogo4LetrasActivity"
        android:screenOrientation="portrait"
        android:parentActivityName=".CategoriesActivity"
        >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".CategoriesActivity">
        </meta-data>
        </activity>

        <activity
            android:name=".Jogo5LetrasActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".CategoriesActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoriesActivity">
            </meta-data>
        </activity>

        <activity
            android:name=".Jogo6LetrasActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".CategoriesActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoriesActivity">
            </meta-data>
        </activity>

        <activity
            android:name=".Jogo7LetrasActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".CategoriesActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoriesActivity">
            </meta-data>
        </activity>

        <activity
            android:name=".Jogo8LetrasActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".CategoriesActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoriesActivity">
            </meta-data>
        </activity>

        <activity
            android:name=".Jogo10LetrasActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".CategoriesActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoriesActivity">
            </meta-data>
        </activity>

        <activity
            android:name=".Jogo13LetrasActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".CategoriesActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoriesActivity">
            </meta-data>
        </activity>

        <activity
            android:name=".JogoParActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".CategoriesActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoriesActivity">
            </meta-data>
        </activity>

        <activity
            android:name=".CheckAnswer"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
             >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity">
        </meta-data>
        </activity>

        <activity
            android:name=".about.AboutActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity">
            </meta-data>
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>
</manifest>